<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Potafolio</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="header__menu">
        <a class="header__menu__link" href="index.html">Home</a>
        <a class="header__menu__link" href="about.html">Sobre mi</a>
      </nav>
    </header>
    <main class="presentacion">
      <section class="presentacion__contenido">
        <h1 class="presentacion__contenido__titulo">
          Impulsa tu negocio digital con un
          <strong class="destacar-titulo">Back-end robusto y eficiente</strong>
        </h1>
        <p class="presentacion__contenido__texto">
          <strong>¡Hola! Soy Ana García,</strong> desarrolladora Backend con
          especialización en Java, Spring Boot y bases de datos. Me especializo
          en crear arquitecturas escalables, seguras y eficientes para pequeñas
          empresas y desarrolladores que buscan soluciones sólidas para sus
          proyectos. ¿Construimos algo increíble juntos?
        </p>
        <div class="presentacion__enlaces">
          <h2 class="presentacion__enlaces__subtitulo">Accede a mis redes:</h2>
          <a
            class="presentacion__enlaces__links"
            href="https://www.linkedin.com/in/juan-felipe-herrera-477130323/"
          >
            <img src="../assets/linkedin.png" alt="icono de Linkedin" />Linkedin
          </a>
          <a
            class="presentacion__enlaces__links"
            href="https://github.com/Phylip28"
          >
            <img src="../assets/github.png" alt="icono de GitHub" />
            GitHub
          </a>
        </div>
      </section>
      <img
        class="presentacion__imagen"
        src="../assets/Imagem.png"
        alt="Ana Garcia trabajando"
      />
    </main>
    <footer class="footer">
      <p>Desarrollado por Phylip</p>
    </footer>
  </body>
</html>
